/*This is the CSS styleguide for the style guide page*/

.container {
  padding-top: 25px;
}

/*Navbar styling for the entire application*/
.navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  color: #8cb1d9 !important;
}

.navbar-right li a {
  font-family: 'Noticia Text', serif;
  color: #8cb1d9 !important;
}

.navbar-right li a:hover {
  color: #336699 !important;
}

.navbar-right li a:active {
  text-decoration: underline;
}

/*Header for the style guide*/
.styletitle {
  font-family: 'Merriweather', serif;
  color: #336699;
  text-align: center;
  padding-bottom: 40px;
}

/*This actually styles the labels for each style asset*/
.fonts {
  font-family: 'Merriweather', serif;
  color: #8cb1d9;
  text-align: center;
  border: 1px solid #336699;
  padding: 15px;
}

/*Styling for gray boxes around style guide examples on the right side of the page*/
.merris {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.6);
}

/*Styling 3 possible Merriweather font styles*/
.merri1 {
  font-family: 'Merriweather', serif;
  color: #336699;
  text-align: center;
}

.merri2 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #336699;
  text-align: center;
}

.merri3 {
  font-family: 'Merriweather', serif;
  color: #336699;
  text-align: center;
}

/*Styling for gray boxes around style guide examples on the right side of the page*/
.notis {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.6);
}

/*Styling the two different kinds of Notica Text font*/
.noti1 {
  font-family: 'Noticia Text', serif;
  color: #336699;
  text-align: center;
}

.noti2 {
  font-family: 'Noticia Text', serif;
  font-style: italic;
  color: #336699;
  text-align: center;
}

/*styles for dark blue box*/
.dkblu {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #336699;
}

.dkblu h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #336699;
}

.dkblu:hover {
  background: #00334d;
}

/*styles for light blue box*/
.ltblu {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #8cb1d9;
}

.ltblu h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #8cb1d9;
}

.ltblu:hover {
  background: #00334d;
}

/*styles for dark grey box*/
.gry {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #999999;
}

.gry h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #999999;
}

.gry:hover {
  background: #00334d;
}

/*styles for light grey box*/
.ltgry {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: rgba(242, 242, 242, 0.6);
}

.ltgry h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: rgba(242, 242, 242, 0.6);
}

.ltgry:hover {
  background: #00334d;
}

/*styles for white box*/
.wht {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #ffffff;
}

.wht h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
}

.wht:hover {
  background: #00334d;
}

/*styles for yellow box*/
.yel {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fccd3f;
  color: #fccd3f;
}

.yel h3 {
  font-family: 'Noticia Text', serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.yel:hover {
  background: #00334d;
}

/*Styling for gray boxes around style guide examples on the right side of the page*/
.xamps {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(242, 242, 242, 0.6);
}

/*the following are the styles for examples of h1 h2 h3 h4 h5 for each font*/
.merrihed1 {
  font-family: 'Merriweather', serif;
  color: #336699;
  text-align: center;
}

.notihed1 {
  font-family: 'Noticia Text', serif;
  color: #336699;
  text-align: center;
}

/*the following are the styles for examples of paragraphs for each font*/
.merrihed2 {
  font-family: 'Merriweather', serif;
  font-weight: 100;
  color: #336699;
  text-align: center;
}

.notihed2 {
  font-family: 'Noticia Text', serif;
  font-weight: 300;
  color: #336699;
  text-align: center;
}

/*Styling for gray boxes around style guide examples on the right side of the page*/
.btns {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 30px 5px 10px 5px;
  background-color: rgba(242, 242, 242, 0.6);
  text-align: center;
}

/*Styling for small medium and large buttons*/
.btn-sm {
  margin-bottom: 25px;
  font-family: 'Merriweather', serif;
  background-color: #336699;
  border-radius: 5px;
  color: white;
}

.btn-md {
  margin-bottom: 25px;
  font-family: 'Merriweather', serif;
  background-color: #8cb1d9;
  border-color: #8cb1d9;
  color: white;
}

.btn-lg {
  margin-bottom: 25px;
  font-family: 'Merriweather', serif;
  background-color: #336699;
  color: white;
}

#contact_title {
  font-family: 'Merriweather', serif;
  color: #999999;
}

/*makes sure the form has padding on each side when on mobile*/
.form-group {
    font-family: 'Merriweather', serif;
    color: #8cb1d9;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
  font-family: 'Noticia Text', serif;
  color: #336699;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 5px;
}

/*Styling for lists*/
ol {
  font-family: 'Merriweather', serif;
  color: #999999;
  padding-left: 50px;
  padding-right: 10px;
}

ul {
  font-family: 'Merriweather', serif;
  color: #999999;
  padding-left: 50px;
  padding-right: 10px;
}
